input#b00{
background-color:000000;
color:0000ff
}
input#b10{
background-color:FF0000;
color:0000ff
}
input#b20{
background-color:000000;
color:0000ff
}
input#b30{
background-color:FF0000;
color:0000ff
}
input#b40{
background-color:000000;
color:0000ff
}
input#b50{
background-color:FF0000;
color:0000ff
}
input#b60{
background-color:000000;
color:0000ff
}
input#b70{
background-color:FF0000;
color:0000ff
}
input#b01{
background-color:FF0000;
color:0000ff
}
input#b11{
background-color:000000;
color:0000ff
}
input#b21{
background-color:FF0000;
color:0000ff
}
input#b31{
background-color:000000;
color:0000ff
}
input#b41{
background-color:FF0000;
color:0000ff
}
input#b51{
background-color:000000;
color:0000ff
}
input#b61{
background-color:FF0000;
color:0000ff
}
input#b71{
background-color:000000;
color:0000ff
}
input#b02{
background-color:000000;
color:0000ff
}
input#b12{
background-color:FF0000;
color:0000ff
}
input#b22{
background-color:000000;
color:0000ff
}
input#b32{
background-color:FF0000;
color:0000ff
}
input#b42{
background-color:000000;
color:0000ff
}
input#b52{
background-color:FF0000;
color:0000ff
}
input#b62{
background-color:000000;
color:0000ff
}
input#b72{
background-color:FF0000;
color:0000ff
}
input#b03{
background-color:FF0000;
color:0000ff
}
input#b13{
background-color:000000;
color:0000ff
}
input#b23{
background-color:FF0000;
color:0000ff
}
input#b33{
background-color:000000;
color:0000ff
}
input#b43{
background-color:FF0000;
color:0000ff
}
input#b53{
background-color:000000;
color:0000ff
}
input#b63{
background-color:FF0000;
color:0000ff
}
input#b73{
background-color:000000;
color:0000ff
}
input#b04{
background-color:000000;
color:0000ff
}
input#b14{
background-color:FF0000;
color:0000ff
}
input#b24{
background-color:000000;
color:0000ff
}
input#b34{
background-color:FF0000;
color:0000ff
}
input#b44{
background-color:000000;
color:0000ff
}
input#b54{
background-color:FF0000;
color:0000ff
}
input#b64{
background-color:000000;
color:0000ff
}
input#b74{
background-color:FF0000;
color:0000ff
}
input#b05{
background-color:FF0000;
color:#0000ff
}
input#b15{
background-color:000000;
color:0000ff
}
input#b25{
background-color:FF0000;
color:0000ff
}
input#b35{
background-color:000000;
color:0000ff
}
input#b45{
background-color:FF0000;
color:0000ff
}
input#b55{
background-color:000000;
color:0000ff
}
input#b65{
background-color:FF0000;
color:0000ff
}
input#b75{
background-color:000000;
color:0000ff
}
input#b06{
background-color:000000;
color:0000ff
}
input#b16{
background-color:FF0000;
color:0000ff
}
input#b26{
background-color:000000;
color:0000ff
}
input#b36{
background-color:FF0000;
color:0000ff
}
input#b46{
background-color:000000;
color:0000ff
}
input#b56{
background-color:FF0000;
color:0000ff
}
input#b66{
background-color:000000;
color:0000ff
}
input#b76{
background-color:FF0000;
color:0000ff
}
input#b07{
background-color:FF0000;
color:0000ff
}
input#b17{
background-color:000000;
color:0000ff
}
input#b27{
background-color:FF0000;
color:0000ff
}
input#b37{
background-color:000000;
color:0000ff
}
input#b47{
background-color:FF0000;
color:0000ff
}
input#b57{
background-color:000000;
color:0000ff
}
input#b67{
background-color:FF0000;
color:0000ff
}
input#b77{
background-color:000000;
color:0000ff
}
